@font-face {
    font-family: "Roboto";
    src: url(./fonts/RobotoFlex-Regular.woff2);
}
.none {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
}
ul, ol, li {
    list-style: none;
}

html {
    font-size: 16px;
}
body {
    background: #F5AFB9;
    font: 1rem / 1.5
          "Roboto";
}
body.lock {
    overflow: hidden;
}

.link:hover {
    text-decoration: 1px solid underline;
}

.header {
    margin-bottom: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
/* .header::before { */
    /* content: ''; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* background: #fff; */
    /* z-index: 2; */
/* } */
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1510px;
}
.title {
    font-size: calc(1.875rem + 3.4375 * ((100vw - 320px) / (90 - 20)));
}
.sub-title {
    font-size: calc(1.375rem + 1.25 * ((100vw - 20rem) / (90 - 20)));
}
.button {
    padding: 16px;
    width: 100%;
    display: inline-block;
    border-radius: 40px;
    background: #000;
    font-size: calc(0.75rem + 0.25 * ((100vw - 20rem) / (90 - 20)));
    color: #fff;
    text-align: center;
}

.header .container {
    padding-top: 30px;
}
.header_space {
    visibility: hidden;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.nav__list:nth-of-type(2) {
    padding-left: 76px;
}
.nav__list {
    display: flex;
    gap: 42px;
}
.nav__logo {
    max-width: 121px;
    max-height: 161px;
}
.nav__img {
    max-width: inherit;
    max-height: inherit;
}
.nav-item-control,
.header__burger { 
    display: none;
}

.hero {
    padding-top: 193px;
    min-height: 100vh;
    background: url(./img/header-bg.jpg) center / cover no-repeat;
}
.hero__main-title {
    margin: 0 auto;
    max-width: 900px;
    /* font-size: 5.25rem; */
    font-size: calc(3.25rem + 2 * ((100vw - 20rem) / (90 - 20)));
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
}

.halva {
    display: flex;
    gap: 15px;
}
.halva__content {
    padding:
      90px 
      calc(15px + 67 * (100vw - 320px) / (1440 - 320)) 
      95px 
      calc(15px + 147 * (100vw - 320px) / (1440 - 320));
    border-radius: 0 220px 0 0;
    flex-basis: 0.57638888888;
    width: 50vw;
}
.wild-halva {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.wild-halva__title {
    margin-bottom: 50px;
}
.wild-halva__sub-title {
    margin-bottom: 52px;
    max-width: 322px;
}
.wild-halva__desc {
    margin-bottom: 21px;
    max-width: 245px;
}
.wild-halva__price {
    margin-bottom: 45px;
    display: inline-block;
}
.blue-bg {
    background: #abafd6;
}

.halva .container {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 65px;
    text-align: center;
}
.halva__container {
    background: #EC4844;
}
.halva__container > * {
    margin: 0 auto;
}
.halva__img {
    margin: 0 auto 39px;
    max-width: 147px;
    max-height: 323px;
    object-fit: contain;
}
.halva__sub-title {
    margin-bottom: 30px;
    max-width: 329px;
}